# =============== #
# Unity generated #
# =============== #
PSMG17/Temp/
PSMG17/Obj/
PSMG17/UnityGenerated/
PSMG17/Library/
PSMG17/Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
PSMG17/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

PSMG17/Library/CurrentLayout\.dwlt

PSMG17/Library/
